@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body {
        margin: 0 auto;
        width: 30%;
        font-size: 0.5em;
    }
}

@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    body {
        margin: 0 auto;
        width: 75%;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        margin: 0 auto;
        width: 75%;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    body {
        margin: 0 auto;
        width: 65%;
    }
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
    body {
        margin: 0 auto;
        width: 75%;
        font-size: 1.75em;
    }
}

@media screen and (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    body {
        margin: 0 auto;
        width: 30%;
        font-size: 0.5em;
        background: red;
    }
}


/*Font For Normal Text*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}

form {
    margin: 0 auto;
    width: 100%;
}

h2,
button {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

button {
    background-color: lightskyblue;
    color: rgb(0, 132, 255);
    font-family: inherit;
    font-size: inherit;
    border: 3px dashed;
    border-radius: 3em;
    height: 3em;
}

button:hover {
    cursor: pointer;
}