/*Tablets*/

@media screen and (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    body {
        margin: 0 auto;
        width: 75%;
        font-size: 1em;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        margin: 0 auto;
        width: 75%;
    }
}


/*Laptops and Desktops*/

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    body {
        margin: 0 auto;
        width: 75%;
        font-size: 1.75em;
    }
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
    body {
        margin: 0 auto;
        width: 75%;
        font-size: 1.75em;
    }
}


/*Phones*/

@media screen and (max-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    body {
        margin: 0 auto;
        width: 90%;
        font-size: 1em;
    }
}

@media screen and (max-width:481px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    body {
        margin: 0 auto;
        width: 90%;
        font-size: 1em;
    }
}


/*Font For Normal Text*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}

form {
    margin: 0 auto;
    width: 100%;
}

h2,
button {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

button {
    background-color: lightskyblue;
    color: rgb(0, 132, 255);
    font-family: inherit;
    font-size: inherit;
    border: 3px dashed;
    border-radius: 3em;
    height: 3em;
}

button:hover {
    cursor: pointer;
}

img {
    width: 100%;
    border: 3px rgb(0, 132, 255) dashed;
    border-radius: 3em;
}

.intro {
    margin: 0 auto;
}

.lesson {
    visibility: hidden;
}