@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    background-color: darkgreen;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #4CAF50;
}

body {
    margin: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

    #navbar li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        #navbar li a:hover, .dropdown:hover .dropbtn {
            background-color: green;
        }

    #navbar li.dropdown {
        display: inline-block;
    }

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    #navbar .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        #navbar .dropdown-content a:hover {
            background-color: #f1f1f1
        }

#navbar .dropdown:hover .dropdown-content {
    display: block;
    margin: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar li {
    float: left;
}

    #navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        #navbar li a:hover:not(.active) {
            background-color: #111;
        }

#navbar .active {
    background-color: green;
    color: white;
}

#submit_button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;  
}
#input_box {
    width: 350px;
    height: 55px;
    font-size: 25px;
    font-family: 'Elephant';
    color: royalblue;
    border: none;
    border-radius: 15px;
    background-color: darkgreen;
    border-bottom: 3px solid;
    border-bottom-color: #0b3705;
}
#htmlabbrev h3 {
    color: rgb(0, 255, 122);
    font-size: 40px;
    font-family: 'Californian FB';
}
#htmlabbrev {
    color: royalblue;
    font-size: 30px;
    font-family: 'Elephant';
    text-align: center;
}
#htmlproject1 h5 {
    color: rgb(0, 255, 122);
    font-size: 40px;
    font-family: 'Californian FB';
}
#htmlproject1 {
    color: royalblue;
    font-size: 30px;
    font-family: 'Elephant';
    text-align: center;
}
#code_terminal {
    font-size: 20px;
    font-family: 'Modern';
    color: white;
    background-color: black;
    border: none;
}
.button {
    border-radius: 4px;
    background-color: #0b3705;
    border: none;
    color: royalblue;
    text-align: center;
    font-size: 25px;
    font-family: 'Elephant';
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
        .button {
            text-align: center;

        }
#quick_quiz1 {
    text-align: left;
    font-size: 20px;
    color: rgb(21, 234, 228);
}
#quick_quiz1 h3 {
    color: rgb(0, 145, 254);
    font-family: 'Century Gothic';

}